[report]
omit = 
    tests/*
    coastlib/waves/fenton.py
    *__init__*
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    raise ValueError
    if __name__ == .__main__.:
    def parse_args
